{% extends 'blog/base.html' %}

{% block body %}
  <body onload="myMove()" class="homepage">
    <div>
        <h1 id= "title">WOKE UP.</h1>
      <div class="guidelines">
          <h2>Community guidelines</h2>
          <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
          <link rel="stylesheet" href="style.css">
          <p>Be respectful. Rude, insensitive, or irrelevant comments will be deleted. This is an open space where discussion is encouraged. Enjoy!</p>
      </div>

      <div class="links">
        <h3>• <a href="{% url 'talk_homepage' %}">Talk</a> • <a href = "{% url 'post_list_vent' %}">Vent</a> • <a href = "advice.html">Advice</a> • <a href="Resources/resources.html">Resources</a> •</h3>
      </div>
    </div>
    <script src="animation.js"></script>
  </body>
{% endblock %}
