<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-81">
    <link rel = "stylesheet" href = "resources_style.css">
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
    <title>Resources</title>
  </head>
  <body>

    <style media="screen">
    h1 {
      text-align: center;
      font-family: 'Sedgwick Ave Display';
      font-size: 300%;
    }
    p {
      text-align: center;
      font-size:40px;
    }
    #resources-navbar {
      text-align: left;
      font-size: 30px;
    }

    #fiction{
      width: 400px;
      float: left;
    }

    #nonfiction {
      float: left;
    }

    </style>
    <h1>Resources</h1>
    <p>Welcome to our resources page!</p>
    <div id="resources-navbar">
      <ul>
        <li><a href = "{% url 'survey' %}">Cultural Appropriation Survey</a></li>
        <li><a href = "{% url 'books' %}">Books</a></li>
        <li><a href = "{% url 'websites' %}">Websites</a></li>
        <li><a href = "{% url 'movies-tv' %}">Movies/TV Shows</a></li>
  </body>
</html>
