<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../static/css/talk_homepage_style.css">

    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
    <title>TALK</title>
  </head>
  <style>
  body{
    background-color: #8b4513;
  }
  h2{
    text-align: center;
    font-family: 'Sedgwick Ave Display';
    font-size: 100px;
  }
  p{
    margin-left: 150px;
    font-size: 30px;
  }
  </style>
  <body>
    <h2>Community Guidelines</h2>
    <p>Be respectful. Rude and insensitive comments will be deleted. This is an open space where discussion is encouraged. </p>
    <h2><a href="{% url 'post_list_cultural_appropriation' %}"</a>Cultural Appropriation</h2>
    <h2><a href="{% url 'post_list_rr' %}"</a>Reverse Racism</h2>
    <h2><a href="{% url 'post_list_mmm' %}"</a>Model Minority Myth</h2>
  </body>
</html>
